<div class="page-header">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>Kutyakuckó ebalkalmazás</h1>
      <p class="lead">Üdvözöllek, kedves látogató!</p>
    </div>
  </div>
</div>
{{outlet}}
